@model EjemploRazor.Models.MADRID

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MADRID</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DORSAL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DORSAL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.POSICION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.POSICION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBRE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PAIS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PAIS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FECHA_NACIMIENTO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHA_NACIMIENTO)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
